<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{lista.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>

  <ion-card-header>
      <ion-item>
        <ion-label floating>Nombre de la lista</ion-label>
        <ion-input type="text" [(ngModel)]="lista.nombre"></ion-input>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <!-- Add card content here! -->
  </ion-card-content>
  <ion-list>
      <ion-item *ngFor="let item of lista.items">
                <ion-label>{{item.nombre}}</ion-label>
                <ion-checkbox color="dark" [checked]="item.completado" (click)="actualizar(item)"></ion-checkbox>
      </ion-item>
  </ion-list>

</ion-card>
<br><br>
<button (click)="borrarItem()"
    ion-button class="button-block" color="danger">Borrar Lista</button>
</ion-content>
